@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 17, 16, 16;
    }
}

body {
    color: white;
    /* background-color: white; */
    /* background-color: rgb(21, 21, 21); */
}

p {
    color: #d1d5db;
}
